{% extends 'base.html' %}

{% block title %}Customers
<a href="{{ url_for('customers.add_customer') }}">
<button type="submit" class="button button_green">Add Customer</button>
</a>
<a href="{{ url_for('home') }}">
<button type="submit" class="button button_grey">Back</button>
</a>
{% endblock %}

{% block content %}

    <table class="table_bordered">
        <tr>
            <th>View details</th>
            <th>Company name</th>
            <th>GST number</th>
            <th>Address 1</th>
            <th>Contact person 1</th>
            <th>Sales Orders</th>
            <th>Products</th>
        </tr>
        {% for customer in customers_html_var %}
            <tr>
                <td><a href="{{ url_for('customers.customer_detail', customer_id=customer.id) }}"><button type="submit" class="button button_purple">Details</button></a></td>
                <td>{{ customer.company_name| default('N/A') }}</td>
                <td>{{ customer.gst_number| default('N/A') }}</td> 
                <td>
                    {% if customer.address_line1 %}
                        {{ customer.address_line1 | default('N/A') }}<br>
                        {{ customer.address_line2 | default('N/A') }}<br>
                        {{ customer.address_line3 | default('N/A') }}
                    {% else %}
                        N/A
                    {% endif %}
                </td>
                <td>
                    {% if customer.name %}
                        {{ customer.name | default('N/A') }}<br>
                        {{ customer.mobile_number1 | default('N/A') }}<br>
                        {{ customer.mobile_number2 | default('N/A')}}<br>
                        {{ customer.email | default('N/A') }}
                    {% else %}
                        N/A
                    {% endif %}
                </td>
                <td>Link</td>
                <td>Link</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}