{% extends 'base.html' %}

{% block title %}Customer : {{ customer_html_var[0].company_name }}
<a href="{{ url_for('customers.customer_list') }}">
    <button type="submit" class="button button_grey">Back</button>
</a>
{% endblock %}

{% block content %}
<h1>Company Name: {{ customer_html_var[0].company_name }}</h1>
<p>GST Number: {{ customer_html_var[0].gst_number }}</p>
<hr>
<h2>Addresses</h2>
<table class="table_bordered">
    {% for row in addresses_html_var %}
    <tr><td>{{ row.address_line1 }},<br>{{ row.address_line2 }},<br>{{ row.address_line3 }}.<br></td></tr>
    {% else %}
    <tr>Placeholder</tr>
    {% endfor %}
</table>
<hr>
<h2>Contacts</h2>
<table class="table_bordered">
  {% for row in contacts_html_var %}
    <tr><td>{{ row.name }},<br>{{ row.mobile_number1 }},<br>{{ row.mobile_number2 }},<br>{{ row.email }}<br></td></tr>
  {% else %}
    <tr>Placeholder</tr>
  {% endfor %}
</table>
{% endblock %}